In [16]:
from google.colab import files
myfile = files.upload()
import numpy as np
import pandas as pd
import io
meta = pd.read_csv( io.BytesIO(myfile['movies_metadata.csv']) )
meta

Saving movies_metadata.csv to movies_metadata.csv

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
2      False  ...       92.0
3      False  ...       34.0
4      False  ...      173.0
...      ...  ...        ...
45461  False  ...        1.0
45462  False  ...        3.0
45463  False  ...        6.0
45464  False  ...        0.0
45465  False  ...        0.0

[45466 rows x 24 columns]

In [17]:
meta = meta[ ['id', 'original_title', 'original_language', 'genres'] ]
meta

           id  ...                                             genres
0         862  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        8844  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2       15602  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3       31357  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4       11862  ...                     [{'id': 35, 'name': 'Comedy'}]
...       ...  ...                                                ...
45461  439050  ...  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462  111109  ...                      [{'id': 18, 'name': 'Drama'}]
45463   67758  ...  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464  227506  ...                                                 []
45465  461257  ...                                                 []

[45466 rows x 4 columns]

In [18]:
meta = meta.rename(columns={'id':'movieId',
 'original_title': 'title',
'original_language': 'language'})
meta

      movieId  ...                                             genres
0         862  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        8844  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2       15602  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3       31357  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4       11862  ...                     [{'id': 35, 'name': 'Comedy'}]
...       ...  ...                                                ...
45461  439050  ...  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462  111109  ...                      [{'id': 18, 'name': 'Drama'}]
45463   67758  ...  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464  227506  ...                                                 []
45465  461257  ...                                                 []

[45466 rows x 4 columns]

In [19]:
meta = meta.loc[meta['language'] == 'en',:]
meta

      movieId  ...                                             genres
0         862  ...  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        8844  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2       15602  ...  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3       31357  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4       11862  ...                     [{'id': 35, 'name': 'Comedy'}]
...       ...  ...                                                ...
45459  222848  ...           [{'id': 878, 'name': 'Science Fiction'}]
45460   30840  ...  [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
45463   67758  ...  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464  227506  ...                                                 []
45465  461257  ...                                                 []

[32269 rows x 4 columns]

In [20]:
meta.movieId = pd.to_numeric(meta.movieId)
meta.movieId

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45459    222848
45460     30840
45463     67758
45464    227506
45465    461257
Name: movieId, Length: 32269, dtype: int64

In [22]:
def str_to_set(x):
  genre_set = set()
  for item in eval(x):
    genre_set.add(item['name'])
  return genre_set
meta.genres = meta.genres.apply(str_to_set)
meta

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

       movieId  ...                        genres
0          862  ...   {Animation, Family, Comedy}
1         8844  ...  {Adventure, Fantasy, Family}
2        15602  ...             {Romance, Comedy}
3        31357  ...      {Romance, Drama, Comedy}
4        11862  ...                      {Comedy}
...        ...  ...                           ...
45459   222848  ...             {Science Fiction}
45460    30840  ...      {Action, Romance, Drama}
45463    67758  ...     {Action, Thriller, Drama}
45464   227506  ...                            {}
45465   461257  ...                            {}

[32269 rows x 4 columns]

In [25]:
myfile2 = files.upload()
keywords  = pd.read_csv( io.BytesIO(myfile2['keywords.csv']) )
keywords

Saving keywords.csv to keywords (1).csv

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [26]:
keywords.keywords = keywords.keywords.apply(str_to_set)
keywords

           id                                           keywords
0         862  {jealousy, friends, boy next door, toy comes t...
1        8844  {recluse, disappearance, giant insect, new hom...
2       15602  {best friend, fishing, duringcreditsstinger, o...
3       31357  {interracial relationship, single mother, chic...
4       11862  {contraception, pregnancy, mother daughter rel...
...       ...                                                ...
46414  439050                                      {tragic love}
46415  111109                              {pinoy, artist, play}
46416   67758                                                 {}
46417  227506                                                 {}
46418  461257                                                 {}

[46419 rows x 2 columns]

In [27]:
keywords = keywords.rename(columns={'id': 'movieId'})
keywords.movieId = pd.to_numeric(keywords.movieId)
keywords

       movieId                                           keywords
0          862  {jealousy, friends, boy next door, toy comes t...
1         8844  {recluse, disappearance, giant insect, new hom...
2        15602  {best friend, fishing, duringcreditsstinger, o...
3        31357  {interracial relationship, single mother, chic...
4        11862  {contraception, pregnancy, mother daughter rel...
...        ...                                                ...
46414   439050                                      {tragic love}
46415   111109                              {pinoy, artist, play}
46416    67758                                                 {}
46417   227506                                                 {}
46418   461257                                                 {}

[46419 rows x 2 columns]

In [28]:
meta = pd.merge(meta, keywords, on='movieId', how='inner')
meta

       movieId  ...                                           keywords
0          862  ...  {jealousy, friends, boy next door, toy comes t...
1         8844  ...  {recluse, disappearance, giant insect, new hom...
2        15602  ...  {best friend, fishing, duringcreditsstinger, o...
3        31357  ...  {interracial relationship, single mother, chic...
4        11862  ...  {contraception, pregnancy, mother daughter rel...
...        ...  ...                                                ...
32847   222848  ...                                                 {}
32848    30840  ...                                                 {}
32849    67758  ...                                                 {}
32850   227506  ...                                                 {}
32851   461257  ...                                                 {}

[32852 rows x 5 columns]

In [29]:
dk = meta.loc[meta.title == 'The Dark Knight'].iloc[0]
dkr = meta.loc[meta.title == 'The Dark Knight Rises'].iloc[0]
pd.concat([dk, dkr], axis=1).T

      movieId  ...                                           keywords
10278     155  ...  {criminal mastermind, dc comics, super villain...
14315   49026  ...  {dc comics, criminal underworld, crime fighter...

[2 rows x 5 columns]

In [33]:
def jaccard_similarity(s1, s2):
  if len(s1|s2) == 0:
    return 0
  return len(s1&s2)/len(s1|s2)
jaccard_similarity(dk.genres|dk.keywords,dkr.genres|dkr.keywords)

0.37142857142857144

In [36]:
myfile3 = files.upload()
ratings  = pd.read_csv( io.BytesIO(myfile3['ratings_small.csv']) )
ratings

Saving ratings_small.csv to ratings_small (1).csv

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [41]:
ratings.movieId = pd.to_numeric(ratings.movieId)
ratings = pd.merge(ratings, meta[['movieId', 'title']], on='movieId', how='inner')
matrix = ratings.pivot_table(index= 'userId', columns='title',values='rating')
matrix

title   !Women Art Revolution  ...  Мой сводный брат Франкенштейн
userId                         ...
1                         NaN  ...                            NaN
2                         NaN  ...                            NaN
3                         NaN  ...                            NaN
4                         NaN  ...                            NaN
5                         NaN  ...                            NaN
...                       ...  ...                            ...
667                       NaN  ...                            NaN
668                       NaN  ...                            NaN
669                       NaN  ...                            NaN
670                       NaN  ...                            NaN
671                       NaN  ...                            NaN

[671 rows x 2034 columns]

In [44]:
def pearson_similarity(u1, u2):
  u1_c = u1 - u1.mean()
  u2_c = u2 - u2.mean()
  denom = np.sqrt(np.sum(u1_c ** 2) * np.sum(u2_c ** 2))
  if denom != 0:
    return np.sum(u1_c * u2_c)/denom
  else:
    return 0
dk_rating = matrix['The Dark Knight']
pk_rating = matrix['Prom Night']
pearson_similarity(dk_rating, pk_rating)

0.773565934694095

In [49]:
def find_similar_movies (input_title , matrix, n, alpha):
  input_meta = meta.loc[ meta[ 'title'] == input_title].iloc[ 0]
  input_set = input_meta.genres | input_meta.keywords

  result = []

  for this_title in matrix.columns:
    if this_title == input_title:
      continue
    this_meta = meta.loc[ meta[ 'title'] == this_title].iloc[ 0]
    this_set = this_meta.genres | this_meta.keywords

    pearson = pearson_similarity(matrix[this_title], matrix[input_title])
    jaccard = jaccard_similarity(this_set, input_set)

    score = alpha * pearson + ( 1-alpha) * jaccard
    result.append( (this_title, pearson, jaccard, score) )

  result.sort(key= lambda r: r[3], reverse= True)

  return result[:n]

In [51]:
result = find_similar_movies('Prom Night', matrix, 10, 0.3)
pd.DataFrame(result, columns = ['title', 'pearson', 'jaccard', 'score'])

                                     title   pearson   jaccard     score
0                           Wild Wild West  1.000000  0.000000  0.300000
1                          The Dark Knight  0.773566  0.022222  0.247625
2                           Population 436  0.577350  0.103448  0.245619
3  Midnight in the Garden of Good and Evil  0.572293  0.071429  0.221688
4                         Freddy vs. Jason  0.316228  0.166667  0.211535
5                  Wet Hot American Summer  0.612372  0.038462  0.210635
6                             The Sentinel  0.545545  0.066667  0.210330
7                                 Godzilla  0.632456  0.025641  0.207685
8                   Deadlier Than the Male  0.577350  0.037037  0.199131
9                      A Kiss Before Dying  0.412508  0.107143  0.198753